@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&icon_names=account_balance,add,close,delete,download,edit,error,home,storefront&diplay=block');

.ibm-plex-serif {
    font-family: "IBM Plex Serif", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.material-symbols-outlined {
    vertical-align: text-top;
}
